{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% block content %}
<ul class="breadcrumb">
    <li><a href="{% url 'main:index' %}">Главная</a></li>
    <li class="active">Change Password</li>
</ul>
<div class="form">
    <h3>Изменение пароля</h3>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{change_pass_form.as_table}}
        </table>
        <br>
        <a href="{% url 'main:index' %}">На главную</a>
        <input class="right" type="submit" value="Изменить">
    </form>
</div>
{% endblock %}
