{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<ul class="breadcrumb">
    <li><a href="{% url 'main:index' %}">Главная</a></li>
    <li class="active">Change password</li>
</ul>
<div class="form">
    <h3>Forgotten your password?</h3>

    <form action="." method="post">
        <p>Enter your e-mail address to obtain a new password</p>
        <hr>
        <table>
            {{ form.as_table }}
        </table>
        <br>
        <input class="right" type="submit" value="Send e-mail">
        {% csrf_token %}
        <br>
    </form>
</div>
{% endblock %}
