{% extends 'mainapp/base.html' %}
{% block title %}Setting New password{% endblock %}
{% block content %}
<ul class="breadcrumb">
    <li><a href="{% url 'main:index' %}">Главная</a></li>
    <li class="active">Change password</li>
</ul>
<div class="form">
    <h3>Forgotten your password?</h3>
    {% if validlink %}
    <form action="" method="post">
        <p>Please enter your new password twice.
            So we can verify you typed it in correctly.</p>
        <br>
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        <table>
            <tr>
                <th>{{ form.new_password1.errors }}
                    <label for="id_new_password1">New password:</label></th>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <th>{{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label></th>
                <td>{{ form.new_password2 }}</td>
            </tr>
        </table>
        <br>
        <input class="right" type="submit" value="Change my password"/>
        <br>
    </form>

    {% else %}
    <form action="">
        <p>Password reset unsuccessful. <br>
            The password reset link was invalid, <br>
            possibly because it has already been used. <br>
            Please request a new password reset.</p>
    </form>
    {% endif %}
</div>
{% endblock %}
